
.places-page-section {
  background-color: #f7f9f8;
  min-height: 100vh;
}

.places-page-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.places-page-header {
  text-align: center;
   padding: 40px 20px 20px;
}

.places-page-header h2 {
  font-size: 34px;
  color: #2e2e2e;
  margin-bottom: 12px;
  position: relative;
}

.places-page-divider {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

.places-page-divider .places-page-line {
  color: #000;
  margin: 0 5px;
}

.places-page-divider .places-page-dots {
  color: #e5b270;
  margin: 0 5px;
}

.places-page-header p {
  max-width: 700px;
  margin: 0 auto 20px;
  color: #555;
  line-height: 1.6;
  font-size: 18px;
}

.places-page-places-page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.region-section {
  margin-bottom: 40px;
    margin: 20px 30px 60px;
}

.region-title {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

@media (max-width: 1200px) {
  .places-page-places-page-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0;
  }
  
  .places-page-header {
    margin-bottom: 40px;
  }
  
  .places-page-header h2 {
    font-size: 30px;
  }
  
  .places-page-header p {
    font-size: 17px;
  }
  
  .region-title {
    font-size: 26px;
  }

}

@media (max-width: 768px) {
  .places-page-places-page-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0;
  }

  .places-page-header {
    margin-bottom: 35px;
  }
  
  .places-page-header h2 {
    font-size: 26px;
  }
  
  .places-page-header p {
    font-size: 16px;
  }
  
  .region-title {
    font-size: 24px;
  }
  
}

@media (max-width: 580px) {
  .places-page-places-page-grid {
    grid-template-columns: 1fr;
    gap: 18px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .places-page-header {
    margin-bottom: 25px;
  }
  
  .places-page-header h2 {
    font-size: 22px;
  }
  
  .places-page-header p {
    font-size: 14px;
  }
  
  .region-title {
    font-size: 22px;
  }
  
}

@media (max-width: 360px) {
  .places-page-places-page-grid {
    max-width: 230px;
    gap: 15px;
    margin: 0;
  }
  
  .places-page-header h2 {
    font-size: 20px;
  }
  
  .places-page-header p {
    font-size: 13px;
  }
  
  .region-title {
    font-size: 20px;
  }
}