.stars {
  display: flex;
  gap: 4px;
}

.star-wrapper {
  position: relative;
  width: 24px;
}

.star {
  font-size: 26px;
  cursor: pointer;
  color: #e0b76a;
}

.star.full::before {
  content: "★";
}

.star.empty::before {
  content: "★";
  color: #bbb; 
}

.star.half::before {
  content: "★";
  background: linear-gradient(90deg, #e0b76a 50%, #bbb 50%);
  background-clip: text;
  color: transparent;
}


.half-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
